# Ignore node_modules - these will be installed within the container
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js

# Ignore build outputs
build
dist

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage

# Ignore logs
*.log

# Ignore editor directories and settings
.vscode
.idea
