# Django specific
db.sqlite3
*.sqlite3

# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
**/.mypy_cache/
**/__pycache__/
*.swp
*.swo

# Virtual environments
**/venv/
env/
ENV/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Django migrations
*/migrations/*

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Static files
staticfiles/
static/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code settings
.vscode/*
!.vscode/extensions.json

# Mac OS specific
.DS_Store

# Docker specific
*.out
*.pid
*.seed
*.pid.lock
.cache/
pids/
*.pid
*.seed
*.pid.lock

# Node.js specific
/frontend/node_modules
/frontend/.pnp
.pnp.js

# Testing
/frontend/coverage

# Production
/frontend/build
/frontend/dist
/frontend/dist-ssr
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore production certificates in authentication
/backend/authentication/certificates/production
